# StenoZaznamy

In [1]:
import sys, os
sys.path.insert(0, os.path.abspath('../..'))

In [2]:
from datetime import datetime

In [3]:
from parlamentikon.Snemovna import *
from parlamentikon.StenoZaznamy import *
from parlamentikon.utility import *

## Tabulka Steno

In [4]:
s = Steno()
s.head()

2021-03-24:10:17:38 INFO     [utility.py:21] Stahuji 'https://www.psp.cz/eknih/cdrom/opendata/poslanci.zip'.
2021-03-24:10:17:38 INFO     [utility.py:21] Stahuji 'https://www.psp.cz/eknih/cdrom/opendata/steno.zip'.

,id_steno,id_organ,schuze,turn,od_steno,jd,od_t,do_t
49626,115470,172,1,1,2017-11-20 00:00:00+01:00,1,780,790
49627,115471,172,1,2,2017-11-20 00:00:00+01:00,1,790,800
49628,115472,172,1,3,2017-11-20 00:00:00+01:00,1,800,810
49629,115473,172,1,4,2017-11-20 00:00:00+01:00,1,810,820
49630,115474,172,1,5,2017-11-20 00:00:00+01:00,1,820,830

In [5]:
s.popis()

Počet řádků v tabulce: 10172

Sloupce s jedinou hodnotou:
  'id_organ' má všude hodnotu '172'

Nulové hodnoty:
Tabulka neobsahuje žádné nulové hodnoty [NaNy atp.]

## Tabulka StenoBod

In [6]:
sb = StenoBod()
sb.tail()

2021-03-24:10:17:41 INFO     [utility.py:21] Stahuji 'https://www.psp.cz/eknih/cdrom/opendata/poslanci.zip'.
2021-03-24:10:17:41 INFO     [utility.py:21] Stahuji 'https://www.psp.cz/eknih/cdrom/opendata/steno.zip'.

,id_steno,aname,id_bod,id_organ,schuze,turn,od_steno,jd,od_t,do_t
20963,126180,52,44633,172,91,15,2021-03-23 00:00:00+01:00,1,1010,1020
20964,126181,62,44632,172,91,17,2021-03-23 00:00:00+01:00,1,1030,1040
20965,126187,73,44634,172,91,22,2021-03-23 00:00:00+01:00,1,1080,1090
20966,126188,79,44636,172,91,24,2021-03-23 00:00:00+01:00,1,1100,1110
20967,126192,90,44637,172,91,26,2021-03-23 00:00:00+01:00,1,1120,1130

In [7]:
sb.popis()

Počet řádků v tabulce: 2111

Sloupce s jedinou hodnotou:
  'id_organ' má všude hodnotu '172'

Nulové hodnoty:
Tabulka neobsahuje žádné nulové hodnoty [NaNy atp.]

## Tabulka StenoRec

In [8]:
sr = StenoRec()
sr.tail()

2021-03-24:10:17:44 INFO     [utility.py:21] Stahuji 'https://www.psp.cz/eknih/cdrom/opendata/poslanci.zip'.
2021-03-24:10:17:45 INFO     [utility.py:21] Stahuji 'https://www.psp.cz/eknih/cdrom/opendata/steno.zip'.

,id_steno,id_osoba,aname,id_bod,druh__ORIG,druh,id_organ,schuze,turn,od_steno,...,do_t,pred,prijmeni,jmeno,za,narozeni,pohlavi__ORIG,zmena,umrti,pohlavi
71367,126194,303,9,44637,4,předsedající,172,91,28,2021-03-23 00:00:00+01:00,...,1150,JUDr.,Filip,Vojtěch,,1955-01-13 00:00:00+01:00,M,1998-12-07 00:00:00+01:00,NaT,muž
71368,126194,6443,8,44637,5,řečník,172,91,28,2021-03-23 00:00:00+01:00,...,1150,Mgr.,Čižinský,Jan,,1978-04-22 00:00:00+01:00,M,NaT,NaT,muž
71369,126194,6463,6,44637,5,řečník,172,91,28,2021-03-23 00:00:00+01:00,...,1150,Ing.,Juchelka,Aleš,,1976-04-18 00:00:00+01:00,M,NaT,NaT,muž
71370,126194,6513,2,44637,5,řečník,172,91,28,2021-03-23 00:00:00+01:00,...,1150,Mgr.,Výborný,Marek,,1976-07-10 00:00:00+01:00,M,NaT,NaT,muž
71371,126194,6513,4,44637,5,řečník,172,91,28,2021-03-23 00:00:00+01:00,...,1150,Mgr.,Výborný,Marek,,1976-07-10 00:00:00+01:00,M,NaT,NaT,muž

In [9]:
sr.popis()

Počet řádků v tabulce: 71372

Sloupce s jedinou hodnotou:
  'id_organ' má všude hodnotu '172'

Nulové hodnoty:
Sloupec 'id_bod' obsahuje 14.39% (10271 z 71372) nulových hodnot (např. NaNů).
Sloupec 'narozeni' obsahuje 0.25% (179 z 71372) nulových hodnot (např. NaNů).
Sloupec 'zmena' obsahuje 86.91% (62028 z 71372) nulových hodnot (např. NaNů).
Sloupec 'umrti' obsahuje 100.00% (71372 z 71372) nulových hodnot (např. NaNů).

In [10]:
print(f"Poslední běh notebooku dokončen {datetime.now().strftime('%d.%m.%Y v %H:%M:%S')}.")

Poslední běh notebooku dokončen 24.03.2021 v 10:17:48.